@use "fonts/fonts";
@use "reset/reset";
@import url("/node_modules/@fontsource/playfair-display/400.css");
@import url("/node_modules/@fontsource/rubik/400.css");
@import url("/node_modules/@fontsource/rubik/500.css");

body {
  background-color: purple;
}

p {
  font-family: fonts.$font-headers;
  font-weight: 400;
}

span {
  font-family: fonts.$font-main;
  font-weight: 400;
}

.vector {
  color: white;
  font-size: 400;
  font-family: fonts.$font-main;
}
