@use "fonts/fonts";
@use "reset/reset";
@use "variables/variables";
@import url("/node_modules/@fontsource/playfair-display/400.css");
@import url("/node_modules/@fontsource/rubik/400.css");
@import url("/node_modules/@fontsource/rubik/500.css");
@import url("/node_modules/@fontsource/mulish/400.css");

h2 {
  font-family: fonts.$font-headers;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 125px;
  color: #172432;
}

.destinations {
  &__title {
    p {
      font-family: fonts.$font-main;
      color: #767e86;

      font-size: 1.125rem;
      margin-top: 40px;
    }
  }

  &__content {
    position: relative;
    span {
      font-family: fonts.$font-headers;

      font-size: 1.5rem;
    }
    > img {
      object-fit: cover;
      width: 288px;
      height: 320px;
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 30px;
      width: 100%;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &__location {
        display: flex;
        gap: 1rem;
        margin-top: 10px;
        span {
          font-family: fonts.$font-main;
          font-size: 1.125rem;
        }
        img {
          margin: 0px;
        }
      }
    }
  }
}

.special-offer {
  &__title {
    p {
      font-family: fonts.$font-main;
      color: #767e86;
      font-size: 1.125rem;
    }
  }
  &__content {
    margin-top: 60px;
    span {
      padding: 20px;
      font-family: fonts.$font-mulish;
      color: #767e86;
      font-size: 1.75rem;
    }

    p {
      padding: 0 20px 0px;
      font-family: fonts.$font-main;
      font-size: 1rem;
      margin-bottom: 0;
    }

    img {
      display: flex;
      flex-direction: column;
      object-fit: cover;
      width: 288px;
      height: 286px;
      border-radius: 26px 26px 0px 0px;
      margin: 0;
    }

    .rating-stars {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 20px;
      padding-bottom: 0;
      padding-top: 0;
      .rating {
        width: 20px;
        height: 20px;
      }
    }
  }

  .special-offer__content {
    display: flex;
    flex-direction: column;
    background-color: #fff8f1;
    border-radius: 26px 26px;

    .container-from-details {
      display: flex;
      flex-direction: column;
      padding: 20px;

      &__price {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .special-offer__content--sizecolor {
    font-size: 2rem;
    color: #ff7757;
    padding-left: 8px;
    margin-top: 0;
  }

  .special-offer__content--color {
    font-size: 1.125rem;
    color: #767e86;
    padding: 20 0;
    padding-bottom: 20px;
    justify-content: center;
    margin-top: 0;
  }

  button {
    font-family: fonts.$font-main;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff7757;
    border-radius: 12px;
    padding: 12px 24px;
    border: none;
    width: 127px;
    height: 56px;
    font-size: 1.25rem;
  }
}

.blog {
  &__title {
    p {
      font-family: fonts.$font-main;
      color: #767e86;
    }

    h2 {
      font-family: fonts.$font-headers;
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .blog__content {
    h3 {
      font-family: fonts.$font-headers;
      font-size: 2.5rem;
      font-weight: 400;
      color: #172432;
    }

    p {
      font-family: fonts.$font-main;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 2.625rem;
      color: #172432;
    }

    span {
      font-family: fonts.$font-main;
      color: #ff7757;
      font-size: 1.5rem;
    }

    div {
      display: flex;

      span {
        margin-right: 25px;
      }

      img {
        margin: 0;
      }
    }
  }
}

.trip-planners {
  &__title {
    p {
      font-family: fonts.$font-main;
      color: #767e86;
      font-size: 1.125rem;
    }
  }

  button {
    color: #fff;
    font-family: fonts.$font-main;
    font-size: 16px;
    border-radius: 12px;
    background-color: #ff7757;
    padding: 20px;
    border: none;
  }

  .image-container__guided {
    span {
      font-family: fonts.$font-main;
      text-transform: uppercase;
      font-size: 1.125rem;
    }
  }

  .image-container__stars {
    span {
      font-family: fonts.$font-main;
      font-size: 1.125rem;
    }
  }

  .image-container__guided {
    font-family: fonts.$font-headers;
    font-size: 1.75rem;
  }

  .tour {
    font-family: fonts.$font-headers;
    font-size: 1.75rem;
  }
}

.testimonial {
  &__title {
    p {
      font-family: fonts.$font-main;
      color: #767e86;
      font-size: 1.125rem;
    }
  }

  &__content {
    p {
      font-family: fonts.$font-main;
      color: #767e86;
      font-size: 1.125rem;
    }

    span {
      font-family: fonts.$font-headers;
      font-size: 1.5rem;
      color: #767e86;
    }

    .job {
      font-family: fonts.$font-main;
      font-size: 1.125rem;
    }
  }
}

.newsletter {
  &__title {
    h2 {
      color: #767e86;
    }
    span {
      font-family: fonts.$font-main;
      font-size: 1.25rem;
      color: #767e86;
    }

    button {
      background-color: #ff7757;
      color: #fff;
      font-family: fonts.$font-main;
      border-radius: 12px;
      border: none;
      padding: 12px 40px;
      width: 248px;
      height: 73px;
      font-size: 1.25rem;
    }
  }

  .email {
    color: #ff7757;
    padding: 24px 0;
    background-color: #ffe8d4;
  }
}

.header {
  height: 100vh;
  color: #fff;
  font-family: fonts.$font-headers;
  padding: 0 32;
  background-image: url(../img/banner.webp);
  background-size: 600%;
  background-position: left;
  background-repeat: no-repeat;
}

.header__primary {
  display: block;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 1rem;
}

.header__sub {
  display: block;
  font-family: fonts.$font-mulish;
  font-size: 18px;
  font-weight: 400;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.header__nav__logo {
  margin: 0;
  height: 27px;
  border-radius: 0;
}

.header__nav__burguer {
  width: 37.5px;
  height: 23px;
  color: #fff;
  margin: 0;
  border-radius: 0;
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

img {
  display: block;
  max-width: 100%;
  border-radius: variables.$border-radius-image;
  margin-top: 100px;
}

main {
  margin: variables.$main-padding;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
