*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
ul,
ol,
li {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: inherit;
}

hr {
  height: 3px;
  background-color: #ff7757;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
}
